[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/gist"]
	path = vim/vim.symlink/bundle/gist
	url = http://github.com/mattn/gist-vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/lusty"]
	path = vim/vim.symlink/bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "vim/vim.symlink/bundle/nerd"]
	path = vim/vim.symlink/bundle/nerd
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/nerd_commenter"]
	path = vim/vim.symlink/bundle/nerd_commenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/rails"]
	path = vim/vim.symlink/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = http://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/closetag"]
	path = vim/vim.symlink/bundle/closetag
	url = http://github.com/vim-scripts/closetag.vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/command-t"]
	path = vim/vim.symlink/bundle/command-t
	url = http://github.com/wincent/Command-T.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule "python/startup"]
	path = python/startup
	url = git@github.com:peplin/python-startup.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/indent-guides"]
	path = vim/vim.symlink/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/l9"]
	path = vim/vim.symlink/bundle/l9
	url = https://github.com/vim-scripts/L9.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/nginx"]
	path = vim/vim.symlink/bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/pydoc"]
	path = vim/vim.symlink/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/snippets"]
	path = vim/vim.symlink/snippets
	url = git@github.com:peplin/snipmate-snippets.git
[submodule "node/nvm.symlink"]
	path = node/nvm.symlink
	url = git://github.com/wavded/nvm.git
[submodule "vim/vim.symlink/bundle/commandt"]
	path = vim/vim.symlink/bundle/commandt
	url = https://github.com/wincent/Command-T.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/gundo"]
	path = vim/vim.symlink/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/ropevim"]
	path = vim/vim.symlink/bundle/ropevim
	url = git@github.com:peplin/ropevim
[submodule "vim/vim.symlink/bundle/notes"]
	path = vim/vim.symlink/bundle/notes
	url = https://github.com/xolox/vim-notes.git
    ignore = untracked
