[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/gist"]
	path = vim/vim.symlink/bundle/gist
	url = http://github.com/mattn/gist-vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/nerd_commenter"]
	path = vim/vim.symlink/bundle/nerd_commenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/rails"]
	path = vim/vim.symlink/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = http://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/command-t"]
	path = vim/vim.symlink/bundle/command-t
	url = http://github.com/wincent/Command-T.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
    ignore = untracked
[submodule "python/startup"]
	path = python/startup
	url = git@github.com:peplin/python-startup.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/indent-guides"]
	path = vim/vim.symlink/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/l9"]
	path = vim/vim.symlink/bundle/l9
	url = https://github.com/vim-scripts/L9.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/nginx"]
	path = vim/vim.symlink/bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/snippets"]
	path = vim/vim.symlink/snippets
	url = git@github.com:peplin/snipmate-snippets.git
[submodule "vim/vim.symlink/bundle/commandt"]
	path = vim/vim.symlink/bundle/commandt
	url = https://github.com/wincent/Command-T.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/gundo"]
	path = vim/vim.symlink/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/ropevim"]
	path = vim/vim.symlink/bundle/ropevim
	url = git@github.com:peplin/ropevim
[submodule "vim/vim.symlink/bundle/notes"]
	path = vim/vim.symlink/bundle/notes
	url = git@github.com:peplin/vim-notes.git
    ignore = untracked
[submodule "vim/vim.symlink/bundle/easymotion"]
	path = vim/vim.symlink/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim.symlink/bundle/markdown"]
	path = vim/vim.symlink/bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "vim/vim.symlink/bundle/tlib"]
	path = vim/vim.symlink/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vim.symlink/bundle/addon-mw-utils"]
	path = vim/vim.symlink/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim.symlink/bundle/ragtag"]
	path = vim/vim.symlink/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/vim.symlink/bundle/endwise"]
	path = vim/vim.symlink/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/repeat"]
	path = vim/vim.symlink/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/ack"]
	path = vim/vim.symlink/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/git"]
	path = vim/vim.symlink/bundle/git
	url = https://github.com/tpope/vim-git.git
